* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html,
body {
  background-color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.main {
  width: 100%;
  min-width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__title {
  font-size: 5rem;
  font-weight: bold;

  /*Gradient text*/
  background: linear-gradient(
    90deg,
    rgba(165, 254, 203, 1) 0%,
    rgba(32, 189, 255, 1) 50%,
    rgba(84, 51, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

strong {
  width: 40%;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
}

@media (max-width: 425px) {
  html,
  body {
    font-size: 12px;
  }
}
